@page "/"
@using PokedexApp.Shared.Models.Pokemonss

<PageTitle>My Pokedex</PageTitle>
<Header Refresh="UpdatePokemons" />

<div class="flex-row main-content">
	@if (Models.Count > 0)
	{
		foreach (var model in Models)
		{
			<Card Model="model" />
		}
	}
</div>
<div class="btn-container flex-row">
	<button class="btn-primary" @onclick=GetListPokemons>More</button>
</div>

@code {
	private List<Pokemon> Models { get; set; } = new();
	private int limit { get; set; } = 9;
	private int offset { get; set; } = 1;

	protected override async Task OnInitializedAsync()
	{
		await GetListPokemons();
	}

	private async Task GetListPokemons()
	{
		var result = await HttpHelper.GetListPokemonsAsync(limit, offset);
		offset += limit;
		if (result.Success)
		{
			Models.AddRange(result.Result!);
		}
	}

	private void UpdatePokemons(List<Pokemon> pokemons)
	{
		if (pokemons is not null)
		{
			Models.Clear();
			Models.AddRange(pokemons);
			StateHasChanged();
		}
	}
}