@page "/"
@using PokedexApp.Shared.Models.Pokemonss

<PageTitle>My Pokedex</PageTitle>
<Header Update="Update" />

<div class="flex-row">
	@if (Models.Count > 0)
	{
		foreach (var model in Models)
		{
			<Card Model="model" />
		}
	}

</div>

<button class="btn-primary" @onclick=GetListPokemons>More</button>

@code {
	private List<Pokemon> Models { get; set; } = new();
	private int limit { get; set; } = 9;
	private int offset { get; set; } = 1;

	protected override async Task OnInitializedAsync()
	{
		await GetListPokemons();
	}

	private async Task GetListPokemons()
	{
		var result = await HttpHelper.GetListPokemonsAsync(limit, offset);
		offset += limit;
		if (result.Success)
		{
			Models.AddRange(result.Result!);
		}
	}

	private void Update(List<Pokemon> pokemons)
	{
		if (pokemons is not null)
		{
			Models.Clear();
			foreach (var pokemon in pokemons)
			{
				Models.Add(pokemon);
			}
			StateHasChanged();
		}
	}
}