@page "/"
@using PokedexApp.Shared.Models.Pokemonss

<PageTitle>Home</PageTitle>

<p><b>Find your Pokemon</b></p>
<input @bind="Input" placeholder="Pokemon" />
<button class="btn btn-primary" @onclick="async() => await Get(Input)">Find</button>

@if (Model != null)
{
	<Card Model="Model"/>
}

@code {
	private Pokemon? Model { get; set; }
	private string Input = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		await Get("squirtle");
	}

	private async Task Get(string input)
	{
		var result = await Helpers.HttpHelper.GetPokemonAsync(input);
		if(result.Success == true)
		{
			Model = result.Result;
		}
	}
}