:root {
    --blue: #084196;
    --light-blue: #63dff3;
    --base: #c0c0c0;
    --base-light: #dadada;
    --base-lighter: #e6e6e6;
    --base-dark: #a7a7a7;
    --base-darker: #9a9a9a;
    --yellow: #ffd500;
    --gold: #ffc106;
    --gold-light: #ffce39;
    --gold-lighter: #ffd453;
    --gold-dark: #ecb100;
    --gold-darker: #d29e00;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button {
    padding: 8px;
    font-size: 18px;
    border-radius: 12px;
}

p{
    margin: 0;
}

.btn-primary {
    color: #fff;
    background: linear-gradient( #ff3377 0%, #ff5588 50%, #ff77aa 100%);
    border: 2px solid #ff77aa;
}

.flex-row{
    display: flex;
    flex-flow: row wrap;
}

.flex-column {
    display: flex;
    flex-flow: column;
}

.flex-start{
    display: flex;
    justify-content: flex-start;
}