@using PokedexApp.Shared.Models
@using PokedexApp.Shared.Models.Pokemonss
@typeparam T

<div class="flex-row header-bar">
	<div class="left-row">
		<h1><b>My</b>Pokedex</h1>
	</div>
	<div class="right-row">
		<Searchbar Titem="T" Input="@Input" Placeholder="Find Pokemon..." Update="UpdateAsync" InputUpdated="UpdateInput" GetAsync="Get" />
	</div>
</div>

@code {
	[Parameter]
	public EventCallback<T> Update{ get; set; }
	private string Input { get; set; } = string.Empty;

	private async Task UpdateAsync(T result)
	{
		var test = result;
		await Update.InvokeAsync(test);
	}

	public async Task<ResultModel<T>> Get()
	{
		return await Helpers.HttpHelper<T>.GetPokemonAsync(Input);
	}

	public void UpdateInput(string input)
	{
		Input = input;
	}
}
