@using PokedexApp.Shared.Models
@using PokedexApp.Shared.Models.Pokemonss

<div class="flex-row header-bar">
	<div class="left-row">
		<a href="/" class="title">MyPokédex</a>
	</div>
	<div class="right-row">
		<Searchbar Titem="Pokemon" Placeholder="Find Pokemon..." Refresh="RefreshAsync" InputUpdated="UpdateInput" GetAsync="Get" />
	</div>
</div>

@code {
	[Parameter]
	public EventCallback<List<Pokemon>> Refresh { get; set; }
	private string Input { get; set; } = string.Empty;

	private async Task RefreshAsync(Pokemon pokemon)
	{
		var pokemons = new List<Pokemon> { pokemon };
		await Refresh.InvokeAsync(pokemons);
	}

	public async Task<ResultModel<Pokemon>> Get()
	{
		return await Helpers.HttpHelper.GetPokemonAsync(Input);
	}

	public void UpdateInput(string input)
	{
		Input = input;
	}
}
