.header-bar {
    display: flex;
    position: fixed;
    overflow: hidden;
    box-sizing:  border-box;
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--pokemon-red-dark);
    color: ghostwhite;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: Aladin, system-ui;
    font-size: 40px;
    font-weight: 400;
    color: var(--pokemon-yellow);
    margin: 0;
    -webkit-text-stroke: 1px var(--pokemon-blue);
    text-shadow:  4px 4px 0px var(--pokemon-blue),3px 3px 0px var(--pokemon-blue),2px 2px 0px var(--pokemon-blue),2px 5px 0px var(--pokemon-blue);
}
