.header-bar {
    display: flex;
    position: fixed;
    overflow: hidden;
    box-sizing:  border-box;
    padding: 10px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--pokemon-red-dark);
    color: ghostwhite;
    justify-content: space-between;
    align-items: center;
}

.left-row {
    height: 3.5rem;
}

.title {
    text-decoration: none;
    font-family: "pokemon-solid";
    font-size: 40px;
    font-weight: 400;
    color: var(--pokemon-yellow);
    margin: 0;
    -webkit-text-stroke: 2px var(--pokemon-blue);
    text-shadow: -3px 2px 0px var(--pokemon-blue-dark), 1px 2px 1px var(--pokemon-blue-dark);
    background-clip: content-box;
    letter-spacing: 1px;
    position: relative;
    top: -42px;
    left: 0px;
}
