@using PokedexApp.Shared.Models
@using PokedexApp.Shared.Models.Pokemonss

<div class="flex-row header-bar">
	<div class="row-item left-row">
		<input type="checkbox" id="sidebar-active" />
		<label for="sidebar-active"><a class="material-symbols-outlined menu-symbol" @>menu</a></label>
		<div class="sidebar" id="sidebar">
			<label for="sidebar-active"><a class="material-symbols-outlined" id="back-arrow" @>arrow_back</a></label>
			<div class="sidebar-content">
				<a>Home</a>
				<a>Pokemon</a>
				<a>Filters</a>
				<a>Berries</a>
				<a>About</a>
			</div>
		</div>
	</div>
	<div class="row-item middle-row">
		<a href="/" class="title">MyPokédex</a>

	</div>
	<div class="row-item right-row">
		<Searchbar Titem="Pokemon" Placeholder="Find Pokemon..." Refresh="RefreshAsync" InputUpdated="UpdateInput" GetAsync="Get" />
	</div>
</div>
<div style="position:fixed; top: 50%; left:0;">
</div>



@code {
	[Parameter]
	public EventCallback<List<Pokemon>> Refresh { get; set; }
	private string Input { get; set; } = string.Empty;

	private async Task RefreshAsync(Pokemon pokemon)
	{
		var pokemons = new List<Pokemon> { pokemon };
		await Refresh.InvokeAsync(pokemons);
	}

	public async Task<ResultModel<Pokemon>> Get()
	{
		return await Helpers.HttpHelper.GetPokemonAsync(Input);
	}

	public void UpdateInput(string input)
	{
		Input = input;
	}
}
