.header-bar {
    display: flex;
    position: fixed;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0px 10px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--pokemon-red-dark);
    color: var(--white);
    justify-content: space-between;
    align-items: center;
}

.row-item {
    display: flex;
    width: 25%;
    min-width: 100px;
    max-width: 350px;
}

.middle-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: fit-content;
}

.title {
    position: relative;
    top: -38px;
    left: 0px;
    text-decoration: none;
    font-family: "pokemon-solid";
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--pokemon-yellow);
    -webkit-text-stroke: 2px var(--pokemon-blue);
    text-shadow: -3px 2px 0px var(--pokemon-blue-dark), 1px 2px 1px var(--pokemon-blue-dark);
    margin: 0;
}

.menu-symbol {
    border: 2px solid var(--white);
    border-radius: 5px;
    font-size: var(--font-size-big);
}

.sidebar {
    display: flex;
    flex-flow: column;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    height: 100%;
    width: 20%;
    min-width: fit-content;
    color: var(--white);
    background-color: var(--pokemon-blue);
    border-right: 2px solid var(--white);
    border-left: 2px solid var(--white);
}

.sidebar-content {
    display: flex;
    flex-flow: column;
    width: 100%;
    border-top: 2px solid var(--white);
    box-sizing: border-box;
    padding-top: 5px;
}

    .sidebar a {
        margin: 5px;
        font-size: var(--font-size-medium);
    }

        .sidebar a:hover {
            transition: 0.35s;
            background-color: var(--pokemon-blue-dark);
        }

#back-arrow {
    transition: 0.35s;
    font-size: 25px;
}

#back-arrow:hover{
    transition: 0.35s;
    background-color: var(--pokekon-blue);
    transform:scale(1.2);
    text-shadow: var(--text-shadow-default);
}