@using PokedexApp.Shared.Models
@using PokedexApp.Shared.Models.Pokemonss
@typeparam Titem

<div class="search-bar">
	<input @bind="@Input" placeholder="@Placeholder" />
	<button class="btn" @onclick="OnSearch">
		<span class="material-symbols-outlined symbol-size-medium">
			search
		</span>
	</button>
</div>


@code {
	[Parameter]
	public EventCallback<Titem> Refresh { get; set; }
	[Parameter]
	public Func<Task<ResultModel<Titem>>>? GetAsync { get; set; }
	[Parameter]
	public EventCallback<string> InputUpdated { get; set; }
	[Parameter]
	public string Placeholder { get; set; } = "...";
	public string Input { get; set; } = string.Empty;

	public async Task OnSearch()
	{
		await UpdateInput();
		if (GetAsync is not null)
		{
			var result = await GetAsync();
			if (result.Success && result.Result is not null)
			{
				await Refresh.InvokeAsync(result.Result);
			}
		}
	}

	public async Task UpdateInput()
	{
		await InputUpdated.InvokeAsync(Input);
	}
}
