@using PokedexApp.Shared.Models
@using PokedexApp.Shared.Models.Pokemonss
@typeparam Titem

<input @bind="@Input" @bind:after="UpdateInput" placeholder="@Placeholder" />
<button class="btn btn-primary" @onclick="OnSearch">Search</button>


@code {
	[Parameter]
	public EventCallback<Titem> Update { get; set; }
	[Parameter]
	public Func<Task<ResultModel<Titem>>>? GetAsync { get; set; }
	[Parameter]
	public string Placeholder { get; set; } = string.Empty;
	[Parameter]
	public string Input { get; set; } = string.Empty;
	[Parameter]
	public EventCallback<string> InputUpdated { get; set; }

	public async Task OnSearch()
	{
		await UpdateInput();
		if (GetAsync is not null)
		{
			var result = await GetAsync();
			if (result.Success && result.Result is not null)
			{
				await Update.InvokeAsync(result.Result);
			}
		}
	}

	public async Task UpdateInput()
	{
		await InputUpdated.InvokeAsync(Input);
	}
}
